In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set plotting style
sns.set_theme(style="whitegrid")

# Path to your saved metrics
metrics_path = "../results/vgg16_metrics.csv"
metrics = pd.read_csv(metrics_path)
metrics

   epoch      loss   val_acc
0      1  2.801820  0.607727
1      2  0.970701  0.622585
2      3  0.964277  0.634473
3      4  1.063625  0.656761
4      5  1.079826  0.627043
5      6  0.989123  0.680535
6      7  0.946209  0.684993
7      8  0.917143  0.683507